<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Riota - Platform for multi-currency gambling products</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="/img/favicon.png" rel="icon">
    <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800" rel="stylesheet">
    <!-- Bootstrap CSS File -->
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/lib/icomoon/css/icomoon.css" rel="stylesheet">
    <link href="/lib/animate/animate.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/style-media.css" rel="stylesheet">
</head>
<body>
<!--==========================
  Hero Section
============================-->
<section id="hero">
    <div class="logo wow fadeInLeft" data-wow-delay="0.4s"></div>
    <div class="laptop">
        <div class="background wow fadeInRight" data-wow-delay="0.4s"></div>
    </div>

    <div class="hero-container wow fadeInUp">
        <h1>The RIOTA project was born to satisfy the market demand</h1>
        <h2>Register and get your 60% discount during ICE Totally Gaming Expo</h2>
        <div id="countdowntimer">
            <table>
                <tr>
                    <td colspan="4">
                        <span class="future_date"></span>
                    </td>
                </tr>
                <tr>
                    <td class="dateText 1">Days</td>
                    <td class="dateText 2">Hours</td>
                    <td class="dateText 3">Mins</td>
                    <td class="dateText 4">Secs</td>
                </tr>
            </table>
        </div>
        <button id="join-button" class="btn-get-started riota-green">Join Waitlist</button>
        <div id="registration-container">
            <div class="registration scrollable">
                <form class="registration-form" action="/users/register" method="post" enctype="application/x-www-form-urlencoded">
                    <div class="form-group show">
                        <div class="vertical-align-div">
                            <label for="name">
                                <span class="label-heading">Hello! So, what's your first name?</span>
                                <span class="label-info">
                                Thanks for your interest in being able to purchase tokens before they sell out, know we'll never share this information.
                            </span>
                                <input type="text" name="name" minlength="2" class="form-input form-text form-name" placeholder="Enter your name" required />
                            </label>
                            <button class="btn btn-riota" disabled>Ok</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="vertical-align-div">
                            <label for="email">
                                <span class="label-heading">Welcome! What's your email?</span>
                                <span class="label-info">
                                    By adding it, you also opt into our occasional newsletter.
                                </span>
                                <input type="email" name="email" class="form-input form-text form-email" placeholder="Enter your email" required />
                            </label>
                            <button class="btn btn-riota" disabled>Ok</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="vertical-align-div">
                            <label for="purchasePlan">
                                <span class="label-heading">How much do you plan to <strong>purchase</strong> of Riota tokens in RIO?</span>
                                <span class="label-info">
                                Larger purchases have larger discounts.
                            </span>
                                <input type="radio" name="purchasePlan" class="form-input option-input radio form-radio first" value="less than 10" required />
                                <span class="radio-inline-span">less than 10</span>
                                <input type="radio" name="purchasePlan" class="form-input option-input radio form-radio" value="more than 10"/>
                                <span class="radio-inline-span">more than 10</span>
                                <input type="radio" name="purchasePlan" class="form-input option-input radio form-radio" value="more than 100"/>
                                <span class="radio-inline-span">more than 100</span>
                            </label>
                            <button class="btn btn-riota" disabled>Ok</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="vertical-align-div">
                            <label for="description">
                                <span class="label-heading">What best <strong>describes you</strong>?</span>
                                <span class="label-info">
                                Don't worry, everyone can participate (it's just different paperwork for us).
                            </span>
                                <input type="radio" name="description" class="form-input option-input radio form-radio first block" value="live in the us or us citizen" required />
                                <span class="radio-inline-span block">live in the us or us citizen</span>
                                <input type="radio" name="description" class="form-input option-input radio form-radio first block" value="us accredited investor"/>
                                <span class="radio-inline-span block">us accredited investor</span>
                                <input type="radio" name="description" class="form-input option-input radio form-radio first block" value="international buyer"/>
                                <span class="radio-inline-span block">international buyer</span>
                                <input type="radio" name="description" class="form-input option-input radio form-radio first block" value="international accredited investor"/>
                                <span class="radio-inline-span">international accredited investor</span>
                            </label>
                            <button class="btn btn-riota" disabled>Ok</button>
                        </div>
                    </div>
                    <div id="telegram-form-group" class="form-group telegram">
                        <div class="vertical-align-div">
                            <label for="telegram">
                                <span class="label-heading">Have you joined our <strong>Telegram</strong></span>
                                <span class="label-info">
                                    It's the best place for <a href="https://t.me/RIOTANEWS">updates</a>
                                </span>
                                <input id="yes-telegram" type="radio" name="telegram" class="form-input option-input radio form-radio first" value="true" required />
                                <span class="radio-inline-span">Yes</span>
                                <input type="radio" name="telegram" class="form-input option-input radio form-radio" value="false"/>
                                <span class="radio-inline-span">No</span>
                            </label>
                            <button class="btn btn-riota telegram-button" disabled>Ok</button>
                        </div>
                    </div>
                    <div class="form-group re-telegram">
                        <div class="vertical-align-div">
                            <span class="telegram-please">We never spam your email, so it's recommended you're in Telegram for important updates.</span>
                            <button id="back-to-telegram" class="btn">Ok, take me back</button>
                        </div>
                    </div>
                    <input id="registration-button" type="submit" name="submit" class="btn-get-started" value="Register">
                </form>
            </div>
        </div>
    </div>
    <%- messages('messages', locals) %>
    <div class="line-1 wow fadeInLeft"></div>
    <div class="line-2 wow fadeInUp" data-wow-delay="0.3s"></div>
    <div class="asset"></div>

</section><!-- #hero -->

<main id="main">
    <!--==========================
      About Us
    ============================-->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="content-title wow fadeInUp" data-wow-delay="0.2s">
                    <h1>3 Solutions for Business</h1>
                    <p>
                        It is possible to customise the front end in all solutions thanks to our front end api that gives you a total control of the user interface.
                    </p>
                </div>
            </div>
            <div class="col-lg-12 content order-lg-2 order-2 distance-smx distance-smx-2">
                <div class="row cards">
                    <div class="col-lg-4 col-md-4 my-cards wow fadeInUp" data-wow-delay="0.4s">
                        <div class="box _1">
                            <div class="icon-02 icon-distance icon-distance-2"></div>
                            <h1 class="solution-title">Standalone  Platform</h1>
                            <p>
                                A  complete ready solution to enter one of the richest market of the future that
                                will allow you to compete with the biggest participants of the market.
                                The aggregator technology will share to your clients a world class liquidity.
                                Marketing, analytics and management  tools will allow you to drive  and  control your  company without  limit.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 my-cards wow fadeInUp" data-wow-delay="0.4s">
                        <div class="box _2">
                            <div class="icon-02 icon-distance icon-distance-2"></div>
                            <h1 class="solution-title">API Integration</h1>
                            <p>
                                Millions of players registered on different cryptocurrency exchanges during 2016/17 in an attempt to buy some assets, our high quality offer could attract those customers towards your site.
                                An API  integration is suitable for all gambling sites that want to ride the evolution of the market.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 my-cards wow fadeInUp" data-wow-delay="0.4s">
                        <div class="box _3">
                            <div class="icon-04 icon-distance icon-distance-2"></div>
                            <h1 class="solution-title">API Integration for  Enterprise</h1>
                            <p>
                                Creating an exchange from scratch is very complex and requires large economical resources, time and hard-to-find professionals.
                                Our solution was born with the idea to offer an enterprise solution for the big companies that manage more than one brand.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--==========================
    Products
    ============================-->
    <section id="products" class="bggg distance-md distance-md-2 bottom-distance bottom-distance-2">
        <div class="container wow fadeIn">
            <div class="row">
                <div class="content-title wow fadeInUp">
                    <h1>Riota Platform Architecture</h1>
<!--                    <p class="cta-text"> A decentralized exchange is an exchange market that does not rely on a third party service to hold the customer's funds. Instead, trades occur directly between users (peer to peer) through an automated process. This system can be achieved by creating proxy tokens (crypto assets that represent a certain fiat or crypto currency) or assets (that can represent shares in a company for example) .</p> -->
                </div>
            </div>
            <div class="col-lg-12 content order-lg-2 order-2">
                <div class="row cards distance-sm distance-sm-2">
                    <div class="col-lg-3 col-md-6 my-cards wow fadeInUp" data-wow-delay="0.4s">
                        <div class="box _1">
                            <div class="icon-01"></div>
                            <p>Shared liquidity</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 my-cards wow fadeInUp" data-wow-delay="0.4s">
                        <div class="box _2">
                            <div class="icon-02"></div>
                            <p>Multi jurisdiction platform</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 my-cards wow fadeInUp" data-wow-delay="0.4s">
                        <div class="box _3">
                            <div class="icon-03"></div>
                            <p>KYC & AML complain</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 my-cards wow fadeInUp" data-wow-delay="0.4s">
                        <div class="box _4">
                            <div class="icon-04"></div>
                            <p>Skinnable platform</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 my-cards wow fadeInUp" data-wow-delay="0.4s">
                        <div class="box _5">
                            <div class="icon-05"></div>
                            <p>New games integration</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 my-cards wow fadeInUp" data-wow-delay="0.4s">
                        <div class="box _6">
                            <div class="icon-06"></div>
                            <p>Multi game platform</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 my-cards wow fadeInUp" data-wow-delay="0.4s">
                        <div class="box _7">
                            <div class="icon-07"></div>
                            <p>Crypto friendly games</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 my-cards wow fadeInUp" data-wow-delay="0.4s">
                        <div class="box _8">
                            <div class="icon-08"></div>
                            <p>Multiwallet system</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- #products -->

    <!--==========================
    Platform
    ============================-->
    <section id="platform">
        <div class="container wow fadeIn">
            <!--=========================
            Phone 2
            ===========================-->
            <div class="row">
                <div class="content-title wow fadeInUp">
                    <h1>Multi Currency Wallet</h1>
                    <p class="cta-text">
                        With our wallet you will keep your assets, make transactions in a safe environment and have a detailed overview about your holdings.                     </p>
                </div>
            </div>
            <div class="row about-container distance-sm distance-sm-2">
                <div class="col-lg-12  order-lg-1 order-2">
                    <div class="col-lg-6 col-md-4 left distance-sm-2 wow fadeInRight">
                        <div class="phone-2"></div>
                    </div>
                    <div class="col-lg-6 col-md-8 col-sm-6 col-6 left box-top">
                        <div class="col-lg-4 col-md-4 left  wow fadeInRight" data-wow-delay="0.1s">
                            <div class="box">
                                <div class="fast-icon"></div>
                                <p>Fast</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 left  wow fadeInRight" data-wow-delay="0.2s">
                            <div class="box">
                                <div class="secure-icon"></div>
                                <p>Secure</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 left  wow fadeInRight" data-wow-delay="0.3s">
                            <div class="box">
                                <div class="easy-icon"></div>
                                <p>Easy to use</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-8 col-sm-6 col-6 left">
                        <div class="col-lg-4 col-md-4 left wow fadeInRight" data-wow-delay="0.1s">
                            <div class="box">
                                <div class="fast-icon"></div>
                                <p>Fast</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 left wow fadeInRight" data-wow-delay="0.2s">
                            <div class="box">
                                <div class="secure-icon"></div>
                                <p>Secure</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 left wow fadeInRight" data-wow-delay="0.3s">
                            <div class="box">
                                <div class="easy-icon"></div>
                                <p>Easy to use</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--=========================
            Identity Verification
            ===========================-->
            <div class="row distance-md distance-md-2 about-container">
                <div class="col-lg-12 wallet-content order-lg-1 order-2">
                    <div class="col-lg-8 col-md-9 left distance-md wow fadeInLeft">
                        <div class="content-title col-lg-12 col-md-12 left">
                            <h1 class="left">Identity Verification & Authentication</h1>
                        </div>
                        <ul class="col-lg-12 col-md-12 list-content">
                            <li>Google two-factor authentication</li>
                            <li>Two-factor authentication with SMS code</li>
                            <li>Double device authentication (getting access by scanning QR code)</li>
                            <li>Fingerprint authentication</li>
                            <li>Face recognition authentication</li>
                            <li>Voice recognition authentication</li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-3 left wow fadeInRight">
                        <div class="phone-1"></div>
                    </div>
                </div>
            </div>
            <!--=========================
            User Protection

            <div class="row about-container distance-md distance-md-2">
                <div class="col-lg-12 wallet-content order-lg-1 order-2">
                    <div class="col-lg-3 col-md-4 left distance-md-2 wow fadeInLeft">
                        <div class="user-protect-system"></div>
                    </div>
                    <div class="col-lg-9 col-md-8 left wow fadeInRight">
                        <div class="content-title col-lg-12 col-md-12 left">
                            <h1 class="left">User Protection</h1>
                        </div>
                        <ul class="col-lg-6 col-md-6 list-content">
                            <li>Bot manipulate the market trend</li>
                            <li>Pump and dump destroy many investor</li>
                            <li>Speculator act in very bad way</li>
                            <li>No tutorials</li>
                            <li>No alert system</li>
                            <li>Exchange list token with wrong price</li>
                            <li>ery high fees to transact money</li>
                        </ul>
                        <ul class="col-lg-6 col-md-6 list-content">
                            <li>Player have bad overview about own economy control</li>
                            <li>Gamification and CRM absent</li>
                            <li>Promotional tools can be improved</li>
                            <li>CO module to provide one huge discount to client</li>
                            <li>Most of the support is manual</li>
                            <li>No limit or autolimitation</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--=========================
            Security level
            <div class="row about-container distance-md distance-md-2">
                <div class="col-lg-12 wallet-content order-lg-1 order-2">
                    <div class="col-lg-9 col-md-8 left wow fadeInLeft">
                        <div class="content-title col-lg-12 col-md-12 left">
                            <h1 class="left">Security levels</h1>
                        </div>
                        <ul class="col-lg-12 col-md-12 list-content">
                            <li>2FA google this is considering one of the most secure.</li>
                            <li>SMS code, is quite secure but expensive.</li>
                            <li>Double device authentication login in web and access by scanning QR.</li>
                            <li>Finger print is a good second level verification from many device.</li>
                            <li>Facial recognition is new for many phone camera.</li>
                            <li>Voice recognition i don’t have enougth data to answer.</li>
                            <li>Second level authentication you right is quite slow.</li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-4 left distance-md-2 wow fadeInRight">
                        <div class="security-level"></div>
                    </div>
                </div>
            </div>
            ===========================-->
            <!--=========================
            Promotional module
            ===========================-->
            <div class="row about-container distance-md distance-md-2">
                <div class="col-lg-12 wallet-content order-lg-1 order-2">
                    <div class="col-lg-3 col-md-4 left distance-sm-2 wow fadeInLeft">
                        <div class="promotion"></div>
                    </div>
                    <div class="col-lg-9 col-md-8 left wow fadeInRight">
                        <div class="content-title col-lg-12 col-md-12 left">
                            <h1 class="left">Promotional Module</h1>
                        </div>
                        <ul class="col-lg-6 col-md-6 list-content">
                            <li>Gamification </li>
                            <li>Achievement   </li>
                            <li>Friend  inviter</li>
                        </ul>
                        <ul class="col-lg-6 col-md-6 list-content">
                            <li>Loyalty system </li>
                            <li>Automatition</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--=========================
            Our Products
            ===========================-->
            <div class="row distance-md distance-md-2 bottom-distance bottom-distance-2">
                <div class="col-lg-12 content order-lg-2 order-2">
                    <div class="content-title wow fadeInUp">
                        <h1>Our Products</h1>
                    </div>
                    <div class="row cards distance-sm distance-sm-2">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-6 my-cards wow fadeInUp" data-wow-delay="0.4s">
                            <div class="box _1">
                                <div class="icon-091"></div>
                                <p>Sportsbook</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-6 my-cards wow fadeInUp" data-wow-delay="0.4s">
                            <div class="box _2">
                                <div class="icon-10"></div>
                                <p>E-Sport</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-6 my-cards wow fadeInUp" data-wow-delay="0.4s">
                            <div class="box _3">
                                <div class="icon-11"></div>
                                <p>Casino</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-6 my-cards wow fadeInUp" data-wow-delay="0.4s">
                            <div class="box _4">
                                <div class="icon-12"></div>
                                <p>Live Casino</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-6 my-cards wow fadeInUp" data-wow-delay="0.4s">
                            <div class="box _5">
                                <div class="icon-13"></div>
                                <p>Poker</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-6 my-cards wow fadeInUp" data-wow-delay="0.4s">
                            <div class="box _6">
                                <div class="icon-14"></div>
                                <p>Pool Betting</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-6 my-cards wow fadeInUp" data-wow-delay="0.4s">
                            <div class="box _7">
                                <div class="icon-15"></div>
                                <p>Lottery</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-6 my-cards wow fadeInUp" data-wow-delay="0.4s">
                            <div class="box _8">
                                <div class="icon-16"></div>
                                <p>Exchange</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- #platform -->

    <!--==========================
    Exchange
    ============================-->
    <section id="exchange">
        <div class="container wow fadeIn">
            <div class="row">
                <div class="content-title wow fadeInUp">
                    <h1>Multi Currency Exchange</h1>
                    <p class="cta-text">
                        The users don’t want to buy at a high price and sell at a low price, so they stay away from small standalone exchanges. </br>
                        Knowing this we are building  an exchange liquidity aggregator (ELA) to connect all the websites of the network and to enable our users to buy and sell at the best possible price gained from big liquidity via our user friendly interface. Everything is happening in real-time without downtime, we work to give to our users the best and the safest trading experience in the world.
                    </p>
                </div>
            </div>
            <!--=========================
            Exchange Preview
            ===========================-->
            <div class="row about-container distance-sm distance-sm-2">
                <div class="col-lg-12  order-lg-1 order-2 wow fadeInUp">
                    <div class="exchange-preview"></div>
                </div>
            </div>
            <!--=========================
            Market
            ===========================-->
            <div class="row about-container distance-md distance-md-2">
                <div class="col-lg-12 wallet-content order-lg-1 order-2 wow fadeInRight">
                    <div class="col-lg-5 col-md-5 left">
                        <div class="huge-market"></div>
                    </div>
                    <div class="col-lg-7 col-md-7 left distance-md distance-sm-2">
                        <div class="content-title col-lg-12 col-md-12 left">
                            <h1 class="left">Intuitive Navigation</h1>
                        </div>
                        <p>
                            Intuitive navigation helps users to find and select the pairs from big variety of markets with as little click as possible.
                        </p>
                    </div>
                </div>
            </div>
            <!--=========================
            Chart
            ===========================-->
            <div class="row about-container distance-md distance-md-2">
                <div class="col-lg-12 wallet-content order-lg-1 order-2 wow fadeInLeft">
                    <div class="col-lg-4 col-md-6 left distance-sm">
                        <div class="content-title col-lg-12 col-md-12 left">
                            <h1 class="left">Smart Chart</h1>
                        </div>
                        <p>
                            With the help of smart chart full of useful functionalities users can recognize the trend and make correct choices in the right time or move to another pair with one click.
                        </p>
                    </div>
                    <div class="col-lg-8 col-md-6 left distance-md-2">
                        <div class="chart"></div>
                    </div>
                </div>
            </div>
            <!--=========================
            Tools
            ===========================-->
            <div class="row about-container distance-md distance-md-2">
                <div class="col-lg-12 wallet-content order-lg-1 order-2 wow fadeInRight">
                    <div class="col-lg-8 col-md-6 left distance-sm-2">
                        <div class="tools"></div>
                    </div>
                    <div class="col-lg-4 col-md-6 left distance-sm ">
                        <div class="content-title col-lg-12 col-md-12 left">
                            <h1 class="left">Buy/Sell Area</h1>
                        </div>
                        <p>
                            In Buy/Sell area users can instantly trade or make the orders with different conditions via user friendly interface.
                        </p>
                    </div>
                </div>
            </div>
            <!--=========================
            History
            ===========================-->
            <div class="row about-container distance-md distance-md-2">
                <div class="col-lg-12 wallet-content order-lg-1 order-2 wow fadeInLeft">
                    <div class="col-lg-6 col-md-6 left distance-md distance-sm-2">
                        <div class="content-title col-lg-12 col-md-12 left">
                            <h1 class="left">Real-time Market Overview</h1>
                        </div>
                        <p>
                            Via market overview users can follow the list of open and closed orders in real-time interface to have an overview of the market and understand their next decisions.
                        </p>
                    </div>
                    <div class="col-lg-6 col-md-6 left">
                        <div class="history"></div>
                    </div>
                </div>
            </div>
            <!--=========================
            ICO View
            ===========================-->
            <div class="row about-container distance-md distance-md-2 bottom-distance-sm bottom-distance-sm-2">
                <div class="col-lg-12 wallet-content order-lg-1 order-2 wow fadeInRight">
                    <div class="col-lg-8 col-md-6 left distance-sm-2">
                        <div class="ico-view"></div>
                    </div>
                    <div class="col-lg-4 col-md-6 left distance-sm ">
                        <div class="content-title col-lg-12 col-md-12 left">
                            <h1 class="left">ICO Section</h1>
                        </div>
                        <p>
                            In our ICO section we offer carefully selected the list of ICOs with a special price. Here you can find all the detailed information about each ICO.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--==========================
    Map
    ============================-->
    <section id="map">
        <div class="container wow fadeIn">
            <div class="row distance-padding-md distance-padding-md-2">
                <div class="content-title wow fadeInUp">
                    <h1>Multi Jurisdiction</h1>
                    <p class="cta-text">
                        Our product is tailored for the gambling and crypto jurisdictions of different countries.
                    </p>
                </div>
            </div>
            <!--=========================
            Exchange Preview
            ===========================-->
            <div class="row about-container distance-sm distance-sm-2 bottom-distance-sm bottom-distance-sm-2">
                <div class="col-lg-12  order-lg-1 order-2 wow fadeInRight">
                    <div class="map-preview"></div>
                </div>
            </div>
        </div>
    </section>
</main>

<!--==========================
  Footer
============================-->
<footer id="footer">
    <div class="footer-top">
        <div class="container"></div>
    </div>
    <div class="container">
        <div class="social">
            <div class="icons">
                <div class="telegram"></div>
                <div class="slack"></div>
                <div class="reddit"></div>
            </div>
        </div>
        <div class="copyright">
            &copy; Copyright <strong>Riota</strong>. All Rights Reserved
        </div>
    </div>
</footer><!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

<!-- JavaScript Libraries -->
<script src="/lib/jquery/jquery.min.js"></script>
<script src="/lib/jquery/jquery-migrate.min.js"></script>
<script src="/lib/jquery/jquery.scrollto.min.js"></script>
<script src="/lib/jquery/jquery.validate.min.js"></script>
<script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/lib/easing/easing.min.js"></script>
<script src="/lib/wow/wow.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8HeI8o-c1NppZA-92oYlXakhDPYR7XMY"></script>

<script src="/lib/waypoints/waypoints.min.js"></script>
<script src="/lib/counterup/counterup.min.js"></script>
<script src="/lib/superfish/hoverIntent.js"></script>
<script src="/lib/superfish/superfish.min.js"></script>

<!-- Contact Form JavaScript File -->
<script src="/contactform/contactform.js"></script>

<!-- Template Main Javascript File -->
<script src="/js/main.js"></script>
<script src="/js/countdown.js"></script>

</body>
</html>
