<div id="messages">
    <div class="messages-container">
        <div class="modal-header">
            <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true">x</span>
            </button>
        </div>
        <% Object.keys(messages).forEach(function (type) { %>
        <div class="message-body alert alert-<%= type %>">
            <% messages[type].forEach(function (message) { %>
            <p><%= message %></p>
            <% }) %>
        </div>
        <% }) %>
    </div>
</div>