<div id="messages">
    <div class="messages-container">
        <% Object.keys(messages).forEach(function (type) { %>
        <div class="modal-header">
            <span class="message-type"><%-type%></span>
            <button id="messages-close" type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="message-body alert alert-<%= type %>">
            <% messages[type].forEach(function (message) { %>
            <p><%= message %></p>
            <% }) %>
            <button id="messages-ok" class="btn btn-<%= type %>">Ok</button>
        </div>
        <% }) %>
    </div>
</div>