body {
  background: #9f80f7;
  color: #fff;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html.popup-opened{
  overflow: hidden;
}

.scrollable::-webkit-scrollbar-track,.tab-info-block-b::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: rgba(243, 242, 233, 0.7);

}
.scrollable::-webkit-scrollbar,.tab-info-block-b::-webkit-scrollbar {
  width: 4px;
  background-color: rgba(243, 242, 233, 0.7);

}
.scrollable::-webkit-scrollbar-thumb,.tab-info-block-b::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #765fb8;
}

li {
  list-style-type: none;
}

li::before {
  content: "• ";
  margin-left: -20px;
  font-size: 30px;
  color: #997bed;
  position: absolute;
}

a {
  color: #2dc997;
}

a:hover, a:active, a:focus {
  color: #2dca98;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  text-align: justify;
}
p.center-content {
  text-align: center;
  padding: 10px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin: 0 0 8px 0;
  padding: 0;
}

[class^="icon-"] {
  margin-top: 30px;
}

.distance-smx {
  margin-top: 35px;
}
.distance-sm {
  margin-top: 65px;
}
.distance-md {
  margin-top: 130px;
}
.distance-padding-md {
  padding-top: 100px;
}
.icon-distance {
  text-align: center;
  margin-bottom: 30px;
}
.bottom-distance {
  padding-bottom: 300px;
}
.bottom-distance-sm {
  padding-bottom: 100px;
}

.right {
  float: right;
}

.left {
  float: left;
}

#logo img {
  width: 120px;
}

/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 6px 12px 9px 12px;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
}

.back-to-top:focus {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  outline: none;
}

.back-to-top:hover {
  background: #2dc997;
  color: #fff;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  display: table;
  width: 100%;
  height: 100vh;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(#765fb8, #9f80f7);
  z-index: 0;
}

#hero .logo {
  background: url(../img/logo.svg) top center no-repeat;
  width: 154px;
  height: 50px;
  position: absolute;
  left: 100px;
  top: 50px;
  float: left;
}
#hero .laptop{
  height: 100%;
  width: 100%;
}
#hero .background {
  background: url(../img/hero-bg.svg) top center no-repeat;
  width: 676px;
  height: 480px;
  position: absolute;
  right: -133px;
  top: calc(100% - 70%);
  float: right;
  z-index: -1000;
}
#hero .line-1 {
  background: url(../img/line-1.svg) top center no-repeat;
    width: 50%;
    height: 50%;
    position: absolute;
    left: -100px;
    top: -3px;
    float: left;
  z-index: -20000;
}
#hero .line-2 {
  background: url(../img/line-2.svg) top center no-repeat;
    width: calc(100% + 3px);
    height: 100%;
    position: absolute;
    left: -3px;
    top: calc(100vh - 25%);
  z-index: -2000;
}
#hero .asset {
  background: url(../img/assets.png) top center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  float: right;
  top: 0;
  opacity: .5;
  z-index: -500;
}

#hero .header .logo {
  background: url(../img/logo.svg) top center no-repeat;
  width: 83px;
}

#hero .hero-container {
  display: table-cell;
  margin: 0;
  padding: 0 10px;
  text-align: center;
  vertical-align: middle;
  z-index: 1000
}


#hero h1 {
  margin: 0 0 5px 0;
  font-size: 36px;
  font-weight: 500;
  line-height: 56px;
  color: #fff;
}

#hero h2 {
  color: #eee;
  font-size: 26px;
  font-weight: 300 ;
}

#registration-container{
  display: none;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 99999;
  top: 0;
  left: 0;
  overflow: hidden;
  background: rgba(0,0,0,0.7);
}

#registration-container.opened{
  display: block;
}
.registration {
    padding: 0;
    margin: 0;
    display: block;
    width: 50%;
    height: 40vh;
    background: #fff;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 20%;
    left: 25%;
    z-index: 999999;
}

.registration-form{
    width: 100%;
    height: 100%;
}

.registration .label-heading, .registration .label-info{
  display: block;
  color: #765fb8;
  font-size: 24px;
  margin-bottom: 10px;
}
.registration .label-info {
  opacity: 0.7;
  font-size: 16px;
}
.registration .form-group {
    text-align: left;
    margin: 0;
    opacity: 0.2;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 60px;
}

label.error{
  color: red;
  margin: 5px 0 0 0;
}

.vertical-align-div{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.registration .form-group.show{
  opacity: 1;
  transition: 1500ms;
}
.registration .form-group.re-telegram{
  visibility: hidden;
}
.registration .form-group.re-telegram.show{
  visibility: visible;
}
.registration .form-group label {
  width: 100%;
}
.form-input {
  width: 100%;
  height: 50px;
  padding-left: 20px;
  border-width: 0 0 1px 0;
  border-color: #a8a8a8;
}

.form-input:focus{
  outline: none;
}

.form-radio{
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-left: 50px;
}

.form-radio.first{
  margin-left: 0;
}

/*custom radio butons*/
.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  height: 20px;
  width: 20px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 10px;
  outline: none;
  z-index: 1000;
}
.option-input:hover {
  background: #9faab7;
}
.option-input:checked {
  background: #765fb8;
}
.option-input:checked::before {
  height: 20px;
  width: 20px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #765fb8;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
.option-input.radio {
  border-radius: 50%;
}
.option-input.radio::after {
  border-radius: 50%;
}
/*custom radio butons*/

.radio-inline-span{
  color: #000000;
  text-transform: capitalize;
}
.radio-inline-span.block{
  display: inline-block;
  width: calc(100% - 40px);
}

.telegram-please{
  font-size: 24px;
  color: #765fb8;
}

.btn-riota, #back-to-telegram {
  display: block;
  padding: 5px 25px;
  background: #765fb8;
  color: #fff;
  position: relative;
  margin-top: 15px;
  cursor: pointer;
}
.btn-riota:after, #back-to-telegram:after{
  content: "press ENTER";
  position: absolute;
  left: calc(100% + 10px);
  color: #000;
  font-weight: bold;
  font-size: 12px;
}
#hero .btn-get-started {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 20px;
  width: 320px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  color: #fff;
  background: #46d1a4;
  border-style: none;
  outline: none;
  cursor: pointer;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: black;
}
::-moz-placeholder { /* Firefox 19+ */
  color: black;
}
:-ms-input-placeholder { /* IE 10+ */
  color: black;
}
:-moz-placeholder { /* Firefox 18- */
  color: black;
}
#hero .btn-get-started:hover {
  background: #2dc997;
}

/* About Us Section
--------------------------------*/
#about h1 {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  margin: 10px;
}

#about p {
  text-align: center;
}

#about .about-container .content {
  margin-top: 20px;
  margin-bottom: 50px;
}

#about .about-container .wallet-content {
  margin-top: 20px;
}

#about .about-container .title {
  color: #333;
  font-weight: 700;
  font-size: 32px;
}

#about .about-container p:last-child {
  margin-bottom: 0;
}

#about .about-container .icon-box {
  background-size: cover;
  padding: 0 0 30px 0;
}

#about .about-container .icon-box .icon {
  float: left;
  background: #fff;
  padding: 16px;
  border-radius: 50%;
  border: 2px solid #2dc997;
}

#about .about-container .icon-box .icon i {
  color: #2dc997;
  font-size: 24px;
}

#about .about-container .icon-box .title {
  font-weight: 500;
  margin: 30px 0 5px;
  font-size: 18px;
  text-align: center;
  color: #fff;
}

#about .about-container .icon-box .title a {
  color: #fff;
}

#about .about-container .icon-box .description {
  margin-left: 80px;
  line-height: 24px;
  font-size: 14px;
}

.circle{
  background: #ffff;
  border-radius: 50%;
  height: 160px;
  width: 160px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1), 0 0 10px 0 rgba(0, 0, 0, 0.1);

}
#about .content-title {
  /*
  background: rgba(255, 255, 255, .05);
  */
  width: 100%;
  /*height: 46px;*/
  padding: 15px;
  margin: 0;
  line-height: 0;
}
#about .riota-coin {
  background: url("../img/riota_icon.svg") no-repeat;
  width: 49px;
  height: 49px;
  float: right;
  margin-top: -20px;
}

#about .wallet {
  background: url("../img/wallet.svg") no-repeat;
  width: 69px;
  height: 48px;
  float: right;
  margin-top: -20px;
}

/* Products
--------------------------------*/
#products {
  background: url(../img/wave_blue.svg) bottom center no-repeat;
  color: #fff;
}
.bggg {
  background: linear-gradient(#9f80f7, #765fb8);
}
#products .box {
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 4px;
  position: relative;
  background: #fff;
  min-height: 200px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1), 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
#products .box p {
}
#products .box._1{
  background-image: -moz-linear-gradient( 43deg, rgb(247,141,133) 0%, rgb(252,195,166) 100%);
  background-image: -webkit-linear-gradient( 43deg, rgb(247,141,133) 0%, rgb(252,195,166) 100%);
  background-image: -ms-linear-gradient( 43deg, rgb(247,141,133) 0%, rgb(252,195,166) 100%);
}
#products .box._2{
  background-image: -moz-linear-gradient( 43deg, rgb(243,163,42) 0%, rgb(239,187,108) 100%);
  background-image: -webkit-linear-gradient( 43deg, rgb(243,163,42) 0%, rgb(239,187,108) 100%);
  background-image: -ms-linear-gradient( 43deg, rgb(243,163,42) 0%, rgb(239,187,108) 100%);

}
#products .box._3{
  background-image: -moz-linear-gradient( 43deg, rgb(130,191,110) 0%, rgb(165,203,152) 100%);
  background-image: -webkit-linear-gradient( 43deg, rgb(130,191,110) 0%, rgb(165,203,152) 100%);
  background-image: -ms-linear-gradient( 43deg, rgb(130,191,110) 0%, rgb(165,203,152) 100%);
}
#products .box._4{
  background-image: -moz-linear-gradient( 43deg, rgb(60,180,203) 0%, rgb(143,198,209) 100%);
  background-image: -webkit-linear-gradient( 43deg, rgb(60,180,203) 0%, rgb(143,198,209) 100%);
  background-image: -ms-linear-gradient( 43deg, rgb(60,180,203) 0%, rgb(143,198,209) 100%);
}
#products .box._5{
  background-image: -moz-linear-gradient( 43deg, rgb(23,193,190) 0%, rgb(52,141,163) 100%);
  background-image: -webkit-linear-gradient( 43deg, rgb(23,193,190) 0%, rgb(52,141,163) 100%);
  background-image: -ms-linear-gradient( 43deg, rgb(23,193,190) 0%, rgb(52,141,163) 100%);
}
#products .box._6{
  background-image: -moz-linear-gradient( 43deg, rgb(79,128,225) 0%, rgb(67,100,165) 100%);
  background-image: -webkit-linear-gradient( 43deg, rgb(79,128,225) 0%, rgb(67,100,165) 100%);
  background-image: -ms-linear-gradient( 43deg, rgb(79,128,225) 0%, rgb(67,100,165) 100%);
}
#products .box._7{
  background-image: -moz-linear-gradient( 43deg, rgb(31,199,224) 0%, rgb(61,180,203) 100%);
  background-image: -webkit-linear-gradient( 43deg, rgb(31,199,224) 0%, rgb(61,180,203) 100%);
  background-image: -ms-linear-gradient( 43deg, rgb(31,199,224) 0%, rgb(61,180,203) 100%);
}
#products .box._8{
  background-image: -moz-linear-gradient( 43deg, rgb(254,159,89) 0%, rgb(240,161,84) 100%);
  background-image: -webkit-linear-gradient( 43deg, rgb(254,159,89) 0%, rgb(240,161,84) 100%);
  background-image: -ms-linear-gradient( 43deg, rgb(254,159,89) 0%, rgb(240,161,84) 100%);
}

#products .box .shop-icon{
  background: url(../img/04_shop.svg) no-repeat;
  position: relative;
  top: 20px;
  right: 4px;
  margin-left: auto;
  margin-right: auto;
  padding: 41%;
  width: 0;
}
#products .box .laptop-icon{
  background: url(../img/05_laptop.svg) no-repeat;
  position: relative;
  top: 20px;
  right: 4px;
  margin-left: auto;
  margin-right: auto;
  padding: 41%;
  width: 0;
}
#products .box .exchange-icon{
  background: url(../img/06_exchange.svg) no-repeat;
  position: relative;
  top: 20px;
  right: 4px;
  margin-left: auto;
  margin-right: auto;
  padding: 41%;
  width: 0;
}
#products .box .profit-icon{
  background: url(../img/07_profit.svg) no-repeat;
  position: relative;
  top: 20px;
  right: 4px;
  margin-left: auto;
  margin-right: auto;
  padding: 41%;
  width: 0;
}
#products .box p{
  margin: 20px 0 0px 0;
  padding-top: 20px;
}

#products .content-title h1 {
  margin: 30px 0 5px 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  text-align: center;
}

#products p {
  text-align: center;
}
#products .title {
  text-align: center;
}
#products .title a {
  font-size: 18px;
  text-align: center;
  border-bottom: 2px solid #46d1a4;
  padding: 10px 36px;
}
#products .wave {
  background: #fff url(../img/wave.svg) top center no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0
}

/* Products
--------------------------------*/
#platform {
  color: #fff;
  background: #232c44 url(../img/wave_white.svg) bottom center no-repeat;

}
#platform .box-top {
  margin-top: 110px;
}

#platform .box {
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 4px;
  position: relative;
  box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.15);
}
#platform .box p {
}

#platform .box .fast-icon{
  background: url(../img/01_fast-icon.svg) no-repeat;
  position: relative;
  top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 35%;
  width: 0;
}
#platform .box .secure-icon{
  background: url(../img/02_secure-icon.svg) no-repeat;
  position: relative;
  top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 35%;
  width: 0;
}
#platform .box .easy-icon{
  background: url(../img/03_easy.svg) no-repeat;
  position: relative;
  top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 35%;
  width: 0;
}
#platform .box p{
  margin: 12px 0 0 0;
  padding-top: 25px;
}

#platform .content-title h1 {
  margin: 0 0 15px 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
}
#platform .content-title h1.left {
  font-weight: 500;
  line-height: 30px;
  text-align: left;
}
.cent-wallet, .user-pr-sys {
  background: none;
  width: 100%;
  height: 80px;
  padding: 15px;
  margin: 0;
  line-height: 0;
}
#platform .content-title.user-pr-sys h1.left {
  margin-left: 288px;
}
#platform p {
  text-align: center;
}
#platform .wallet-content p {
  text-align: justify;
}
#platform .wallet-content ul li {
  line-height: 30px;
}
#platform .title {
  text-align: center;
}
#platform .title a {
  font-size: 18px;
  text-align: center;
  border-bottom: 2px solid #46d1a4;
  padding: 10px 36px;
}
#platform .wallet {
  background: url("../img/wallet.svg") no-repeat;
  width: 69px;
  height: 48px;
  float: right;
  margin-top: -20px;
}
#platform .user-protect-system {
  background: url("../img/01_protection.svg") no-repeat;
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}
#platform .security-level {
  background: url("../img/02_secure.svg") no-repeat;
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}
#platform .promotion {
  background: url("../img/03_promotion.svg") no-repeat;
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

#platform .content-title.wallet {
  background: rgba(255, 255, 255, .05);
  width: 100%;
  padding: 15px;
  margin: 0;
  line-height: 0;
}
#platform .about-container .wallet-content {
  margin-top: 20px;
}
[class^="product-"] {
  top: 20px;
  height: 90px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
#platform .product-sport{
  background: url(../img/08_sportsbook.svg) no-repeat;
}
#platform .product-casino{
  background: url(../img/09_casino.svg) no-repeat;
}
#platform .product-poker{
  background: url(../img/10_poker.svg) no-repeat;
}

/*--------------------------------------------------------------
# Exchange
--------------------------------------------------------------*/
#exchange {
  color: #363636;
  background: #fff;
}

#exchange .exchange-preview {
  padding: 23%;
  background: url("../img/exchange_preview.svg") center no-repeat;
}
#exchange .box .fast-icon{
  background: url(../img/01_fast-icon.svg) no-repeat;
  position: relative;
  top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 35%;
  width: 0;
}
#exchange .box .secure-icon{
  background: url(../img/02_secure-icon.svg) no-repeat;
  position: relative;
  top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 35%;
  width: 0;
}
#exchange .box .easy-icon{
  background: url(../img/03_easy.svg) no-repeat;
  position: relative;
  top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 35%;
  width: 0;
}
#exchange .box p{
  margin: 12px 0 0 0;
  padding-top: 25px;
}

#exchange .content-title h1 {
  margin: 0 0 15px 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
}
#exchange .content-title h1.left {
  font-weight: 500;
  line-height: 30px;
  text-align: left;
}
#exchange .content-title.user-pr-sys h1.left {
  margin-left: 288px;
}
#exchange p {
  text-align: center;
}
#exchange .wallet-content p {
  text-align: justify;
}
#exchange .wallet-content ul li {
  line-height: 30px;
}
#exchange .title {
  text-align: center;
}
#exchange .title a {
  font-size: 18px;
  text-align: center;
  border-bottom: 2px solid #46d1a4;
  padding: 10px 36px;
}
#exchange .huge-market {
  background: url("../img/01_markets.svg") no-repeat;
  height: 472px;
}
#exchange .chart {
  background: url("../img/02_chart.svg") no-repeat;
  height: 398px;
}
#exchange .tools {
  background: url("../img/03_tools.svg") no-repeat;
  height: 411px;
}
#exchange .history {
  background: url("../img/04_history.svg") no-repeat;
  height: 542px;
}
#exchange .ico-view {
  background: url("../img/05_ico-list.svg") no-repeat;
  height: 415px;
}
#exchange .security-level {
  background: url("../img/secure.svg") no-repeat;
  width: 69px;
  height: 48px;
  float: right;
  margin-top: -20px;
}
#exchange .promotion {
  background: url("../img/promotion.svg") no-repeat;
  width: 69px;
  height: 48px;
  float: left;
  margin-top: -20px;
}

#exchange .content-title.wallet {
  background: rgba(255, 255, 255, .05);
  width: 100%;
  padding: 15px;
  margin: 0;
  line-height: 0;
}
#exchange .about-container .wallet-content {
  margin-top: 20px;
}
/*--------------------------------------------------------------
# Map
--------------------------------------------------------------*/
#map {
  color: #363636;
  background: #f7fafd;
}
#map .map-preview {
  padding: 23%;
  background: url("../img/map.svg") center no-repeat;
}
#map .box p{
  margin: 12px 0 0 0;
  padding-top: 25px;
}

#map .content-title h1 {
  margin: 0 0 15px 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
}
#map .content-title h1.left {
  font-weight: 500;
  line-height: 30px;
  text-align: left;
}
#map .content-title.user-pr-sys h1.left {
  margin-left: 288px;
}
#map p {
  text-align: center;
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #765fb8;
  padding: 30px 0;
  color: #fff;
  font-size: 12px;
}

#footer .copyright {
  text-align: center;
}

/*--------------------------------------------------------------
# Validation messageg
--------------------------------------------------------------*/
#messages{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.7);
}

.messages-container{
  width: 30%;
  height: 50px;
  position: absolute;
  top: calc(50% - 25px);
  left: 35%;
}

.modal-header{
  width: 100%;
  height: 25px;
  background: #fff;
}

.message-body.alert{
  border-radius: 0 0 0.25rem 0.25rem;
  background: #fff;
  text-align: center;
  border-color: #fff;
}
.modal-header .close{
  padding: 5px 10px;
}
.modal-header>span {
  display: block;
  width: 100%;
  color: #000000;
  text-transform: capitalize;
  line-height: 0;
}
.messages-container .btn-light{
  width: 100px;
}
.message-body p {
  text-align: center;
  font-size: 18px;
  text-transform: capitalize;
  margin: 30px auto;
  color: #46d1a4;
}

.message-body.alert-danger p{
  color: #dc3545;
}

#messages-close, #messages-ok{
  cursor: pointer;
}

/*fix the overflow bug*/
#hero .asset, html, body {
  overflow-x: hidden;
}
#platform .phone-1 {
  background: url("../img/phone_1.svg") no-repeat;
  height: 570px;
}

#platform .phone-2 {
  background: url("../img/phone_2.svg") no-repeat;
  height: 570px;
}

#messages-ok {
  padding: 5px 40px;
}

/*Icons*/
.icon-anonymous {
  font-size: 64px;
}
/*Messages media*/
@media screen and (max-width: 1280px) {
  .messages-container{
    width: 40%;
    left: 30%;
  }
}

@media screen and (max-width: 1024px) {
  .messages-container{
    width: 50%;
    left: 25%;
  }
}

@media screen and (max-width: 768px) {
  .messages-container{
    width: 60%;
    left: 20%;
  }
}

@media screen and (max-width: 560px) {
  .messages-container{
    width: 70%;
    left: 15%;
  }
}

@media screen and (max-width: 480px) {
  .messages-container{
    width: 80%;
    left: 10%;
  }
}

#platform ul.list-content {
  float: left;
}



#countdowntimer{
  margin: 30px auto;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  color:#fff;
}
h2{
  text-align:center;
  font-size: 45px;
  font-weight: 500;
}
#countdowntimer {
  width: 242px;
  margin:0 auto;
  font-size: 36px;
  letter-spacing:5px;
}
img{
  margin:40px auto;
  width:110px;
  display:block;
  opacity:0.7;
}

.dateText{
  width: 25%;
  font-size: 25%;
  text-align: center;
}
