/*
# General
--------------------------------------------------------------*/
/*registration media*/
@media (max-width: 1440px) {
  .registration {
    width: 60%;
    left: 20%;
  }
}

@media (max-width: 1024px) {
  .registration {
    width: 70%;
    left: 15%;
  }
}
@media (max-width: 960px) {
  .registration {
    width: 80%;
    left: 10%;
  }
}
@media (max-width: 768px) {
  .registration {
    width: 90%;
    left: 5%;
  }
  #exchange .user-protect {
    height: 800px;
    background: url("../img/user-protect-md.svg") center no-repeat;
  }
}
@media (max-width: 680px) {
.form-radio{
  margin-left: 0;
}
.radio-inline-span{
  display: inline-block;
  width: calc(100% - 40px);
  vertical-align: text-top;
  margin-bottom: 5px;
}
}
@media (max-width: 480px) and (max-height: 960px) {
  .registration {
    height: 60%;
    top: 20%;
  }
  .registration .form-group{
    padding: 0 10px;
  }
}
@media (max-width: 480px)  and (max-height: 640px) {
  .registration {
    height: 80%;
    top: 10%;
  }
  .registration .form-group{
    padding: 0 10px;
  }
}
/*registration media end*/
@media (max-width: 992px) {
  .distance-smx {
    margin-top: 0;
  }
  .distance-sm {
    margin-top: 0;
  }
  .distance-md {
    margin-top: 0;
  }
  .distance-padding-md {
    padding-top: 0;
  }
  .icon-distance {
    margin-bottom: 0;
  }
  .bottom-distance {
    padding-bottom: 0;
  }
  .bottom-distance-sm {
    padding-bottom: 0;
  }
  #platform .box-top {
    margin-top: 0;
  }

  /*992px distance*/
  .distance-smx-2 {
    margin-top: 20px;
  }
  .distance-sm-2 {
    margin-top: 30px;
  }
  .distance-md-2 {
    margin-top: 60px;
  }
  .distance-padding-md-2 {
    padding-top: 30px;
  }
  .icon-distance-2 {
    margin-bottom: 0;
  }
  .bottom-distance-2 {
    padding-bottom: 200px;
  }
  .bottom-distance-sm-2 {
    padding-bottom: 80px;
  }

  /*other*/
  #platform .phone-1 {
    height: 320px;
    width: 160px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  #platform .phone-2 {
    height: 406px;
    width: 200px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  #exchange .huge-market {
    height: 348px;
  }
  #exchange .chart {
    height: 266px;
  }
  #exchange .tools {
    height: 210px;
  }
  #exchange .history {
    height: 300px;
  }
  #exchange .ico-view {
    height: 184px;
  }
}
/* Back to top button */

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

@media (max-width: 768px) {
  #header #logo img {
    max-height: 40px;
  }
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
@media (max-width: 1200px) {
  #hero .logo{
    width: 100%;
    height: 50px;
    left: 0;
    top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  #hero .background {
    width: 570px;
    height: 405px;
    right: -190px;
    top: calc(100% - 60%);
  }
}
@media (max-width: 992px) {
  #hero h1, #products h1 {
    font-size: 30px;
    line-height: 40px;
  }
  #hero h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  #hero .logo {
    height: 40px;
  }
}
@media (max-width: 768px) {
  #hero h1, #products h1 {
    font-size: 24px;
    line-height: 28px;
  }
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 21px;
    margin-bottom: 20px;
  }

}

@media (max-width: 576px) {
  #hero h1, #products h1 {
    font-size: 16px;
    line-height: 28px;
  }
}

@media (max-width: 576px) {
  #hero h2 {
    font-size: 14px;
    margin-bottom: 15px;
  }
  #hero .logo {
    height: 30px;
    left: 0;
  }
  #hero .background {
    width: 570px;
    height: 405px;
    right: -240px;
    top: calc(100% - 60%);
  }
  #hero .btn-get-started {
    width: 260px;
  }
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */

@media (max-width: 768px) {
  #nav-menu-container {
    display: none;
  }
}

@media (max-width: 768px) {
  #mobile-nav-toggle {
    display: inline;
  }
}

/* About Us Section
--------------------------------*/

@media (max-width: 768px) {
  #about .about-container .title {
    padding-top: 15px;
  }
}

@media (min-width: 992px) {
  #about .content-title {
    background: none;
    width: 100%;
    /*height: 46px;*/
    padding: 15px;
    margin: 0;
    line-height: 0;
  }
  #about .content-title .riota {
    margin-left: 285px;
  }
  #about .content-title h1 {
    font-size: 26px;
  }
  #about .riota-coin {
    width: 280px;
    height: 280px;
    margin-top: 16px;
    float: left;
  }
  .mask-circle {
    shape-outside: ellipse(200px 200px at 32% 45%);
    width: 360px;
    height: 291px;
    float: left;
    opacity: .2;
  }
  .mask-rectangle {
    width: 380px;
    height: 260px;
    float: right;
    opacity: .2;
  }
  .mask-rectangle.phone-app {
    width: 543px;
  }
  .mask-rectangle.user-protect, .mask-rectangle.promotional {
    width: 307px;
  }
  .mask-rectangle.security {
    width: 340px;
  }
  .mask-rectangle.user-protect, .mask-rectangle.phone-app, .mask-rectangle.promotional {
    float: left;
  }
}
/* Services Section
--------------------------------*/
@media (min-width: 992px) {
  #products .content-title h1, #business .content-title h1, #platform .content-title h1, #exchange .content-title h1, #map .content-title h1 {
    font-size: 26px;
  }
}

@media (min-width: 480px) {
  .col-md-6.my-cards {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .col-md-6.my-cards {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}


